/*----Elementos base----*/
body{
	background-color: #212121;
	color: #fff;
	padding: inherit!important;
}
iframe{
	width: 100%;
	height: auto;
	border: none;
}
b{
	font-size: 130%;
}
input{
	margin-top: 10px;
	color: black;
	border: none;
	background-color: rgba(255,255,255,0.9) !important;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
    width: 100%;
    border-radius: 5px;
}
textarea{
	margin-top: 10px;
	color: black;
	border: none;
	background-color: rgba(255,255,255,0.9) !important;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
    width: 100%;
    border-radius: 5px;
}

a{
	color: #7F0B0D;
}

a:hover{
	color: #AD0E1D;
	text-decoration: none;
	display: inline-block;
}

/*----FIN Elementos base----*/

/*----FONTS----*/
.ff-amaranth{
	font-family: Amaranth;
}
.ff-poppins{
	font-family: Poppins
}
.ff-lato{
	font-family: Lato;
}

.fs-small{
	font-size: 13px;
}
.fs-med{
	font-size: 15px;
}
.fs-big{
	font-size: 17px;
}

.ft-upper{
	text-transform: uppercase;
}
/*----FIN FONTS----*/

/*----PLACEHOLDERS----*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #9C9990;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #9C9990;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #9C9990;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #9C9990;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #9C9990;
}
::placeholder { /* Most modern browsers support this now. */
   color:    #9C9990;
}
/*----FIN PLACEHOLDERS----*/

/*----BODY----*/
.topPad{
	padding-top: 2%;
}
.body{
	margin-top: 0px!important;
	background-color: #000;
}
.activo{
	background-color: #000!important;
}
.videoBar{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 10%;
	background-color: #d1d1d1;
	border-radius: 20px;
	color: #000;
}
.noticias{
	text-align: justify;
}
/*----FIN BODY----*/

/*----ESTILOS DE PUBLICACIÓN----*/
.publicacion{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 1%;
	margin-bottom: 2%;
	background-color: #d1d1d1;
	border-radius: 5px;
	color: #000;
}

.pub-title-container{
	padding:3%;
}

.pub-img-container{
	width: 100%;
}

.pub-inner-img-container{
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
	box-shadow: 2px 2px 8px #888888;
}

.pub-container{
	padding: 4%;
	padding-bottom: 0;
	text-align: justify;
}

.tag-container, .author-container{
	padding: 4%;
	padding-left: 6%;
	text-align: justify;
	cursor: default;
}

.author-container img{
	border: solid 2px;
	border-color: #4A0000;
	border-radius: 5px;
}

hr{
	border-color:#5E5E5E;
	width: 80%;
	margin-top: 3px;
	margin-bottom: 3px;
}

.pub-comment-container{
	margin: 5%;
	padding: 6%;
	padding-top: 0px;
	text-align: justify;
	background-color: #F5F5F5;
	border-radius: 5px;
}

.img-round{
	border-radius: 50%;
	border: #4A0000 1px solid;
}

.comment-container{
	margin: 4px;
	cursor: default;
}

.comment-container hr{
	border-color:#5E5E5E;
	width: 80%;
	margin-top: 4%;
	margin-bottom: 4%;
}

/*----Estrellas de Rating----*/
.rating-share{
	padding:2%;
}
.rating{
	padding:2px;
}

/*----FIN ESTILOS DE PUBLICACIÓN----*/
/*----ESTILOS DE ADMINISTRACIÓN----*/
.admin-container{
	margin: 10%;
	margin-top: 0;
	padding: 6%;
	text-align: justify;
	background-color: #F5F5F5;
	border-radius: 5px;
	color: black;
}

.admin-btn{
	color: white;
	width: 100%;
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	background-color: #630000;
	margin-bottom: 1%;
}

.admin-btn:hover{
	background-color: #BFBEBA;
}

.admin-btn:focus{
	color: white;
}

.admin-btn:focus:hover{
	color: black;
}

.single-comment{
	padding-left: 2%;
	padding-right: 2%;
}

.comment-admin-container{
	margin: 10%;
	margin-top: 0;
	padding: 6%;
	padding-top: 2%;
	text-align: justify;
	background-color: #F5F5F5;
	border-radius: 5px;
	color: black;
}
/*----FIN ESTILOS DE ADMINISTRACIÓN----*/

/*----ESTILOS DE CREACION DE ENTRADA----*/
.crear-pub-container{
	margin: 10%;
	margin-top: 0;
	padding: 6%;
	text-align: justify;
	background-color: #F5F5F5;
	border-radius: 5px;
	color: black;
}

/*----Subir imagen----*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
/*----FIN ESTILOS DE CREACION DE ENTRADA----*/

.bar{
	margin-bottom: 0px!important;
	background-color: #630000;
	border-radius: 0px!important;
}
.texto{
	background-color: rgba(0,0,0,0.7) !important;
	width: 100%!important;
	left: 0%!important;
	text-align: left!important;
	padding-left: 5%!important;
	padding-bottom: 5%!important;
	bottom: 0%!important;
}
.barBoton{
	color: #fff!important;
}
.sobre{
	color: #fff!important;
}
.sobre:hover{
	color: #000!important;
}
.imag{
	margin-top: 20px;
}
.noti{
	border-top: solid 1px;
	border-color: #630000;
	padding-top: 2%;
	margin-top: 2%!important;
	cursor: pointer;
}
.mod{
	color: #630000!important;
	background-color: #d1d1d1!important;
}
.resaltar:hover{
	background-color: #fff!important;
	color: #000!important;
}
.modalBoton{
	color: white;
	width: 100%;
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	background-color: #212121;
}
.modalBoton:focus{
	color: white;
	width: 100%;
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	background-color: #212121;
}
.modalBoton:focus:hover{
	color: white!important;
	background-color: #630000;
}
.modalBoton:hover{
	color: white!important;
	background-color: #630000;
}
.contactoBoton{
	color: white;
	width: 100%;
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	background-color: #630000;
	margin-bottom: 15%;
}
.contactoBoton:hover{
	background-color: white;
	color: black;
}
.contactoBoton:focus{
	color: white;
}
.contactoBoton:focus:hover{
	color: black;
}
.center-block{
	float: none;
}
.tituloContacto{
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}
.izq{
	padding-right: 5px;
}
.der{
	padding-left: 5px;
}
.footer{
	margin-top: 10px;
	padding: 1em;
	background-color: #390000;
	color: #fff;
}
.grid{
	background-color: white;
	padding: 20px;
	padding-bottom: 10px;
	color: black;
	margin-bottom: 20px;
	cursor: pointer;
}
.grid h3{
	background-color: white;
	padding: 20px;
	padding-bottom: 10px;
	color: black;
	margin-bottom: 20px;
}
#banner{
	width: 100%;
	height: auto;
}

/*---- fixed menu ----*/
.modal{
	z-index: 9999 !important;
}

.affix {
      top: 0;
      left: 0;
      margin-left: 0px;
      width: 100%;
      z-index: 1000!important;
}

.affix + .container-fluid {
      padding-top: 70px;
}

/*---- opcion perfil ----*/
.inset {
  z-index: 999;
}
.userImage2 {
    width: 40%;
    height: 40%;
    border-radius: 50%;
}
.userImage3 {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.userImage {
    border-radius: 50%;
    width: 17px;
    height: 17px;
  position: relative;
  z-index: 998;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.perfilMenu{
	background-color: white;
	color: black;
}
.contrasenaBoton{
	width: 100%;
	padding-top: 3%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30%;}

/*---- Para rotación del caret----*/
.caretup {
    transform: rotate(180deg);
}



/*----Footer miscelaneo----*/
.footer-hr{
	padding:0;
	margin:0;
	margin-top: 2%;
	width: 20%;
	border-color: white;
}